// position
.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}

// display
.inline-block {display: inline-block;}
.inline {display: inline;}
.block {display: block;}

// cursor
.pointer {cursor: pointer;}