@each $key, $value in $font-sizes {
  [data-font~=#{$font-size-prefix}#{$key}] { font-size: #{$value}; }
}
@each $bp in $font-breakpoints {
  @media (min-width: breakpoint($bp)) {
    @each $key, $value in $font-sizes {
      [data-font~=#{$bp}-#{$font-size-prefix}#{$key}] { font-size: #{$value}; }
    }
  }
}
@each $key, $value in $font-weights {
  [data-font~=#{$font-weight-prefix}#{$key}] { font-weight: $value; }
}
@each $key, $value in $line-heights {
  [data-font~=#{$line-height-prefix}#{$key}] { line-height: $value; }
}
@each $key, $value in $colors {
  [data-font~=#{$key}] { color: $value; }
  [data-font~=h-#{$key}]:hover { color: $value; }
}

//transition
[data-font] {transition: $text-transition}

// text-transform
[data-font~=uppercase] {text-transform: uppercase;}
[data-font~=capitalize] {text-transform: capitalize;}
[data-font~=lowercase] {text-transform: lowercase;}
[data-font~=no-transform] {text-transform: none;}

// text-decoration
[data-font~=underline] {text-decoration: underline;}
[data-font~=no-decoration] {text-decoration: none;}

// white-space
[data-font~=nowrap] {white-space: nowrap;}
[data-font~=wrap] {white-space: normal;}
[data-font~=pre] {white-space: pre;}
[data-font~=pre] {white-space: pre-line;}
[data-font~=pre] {white-space: pre-wrap;}

// text-align
[data-font~=center] {text-align: center;}
[data-font~=left] {text-align: left;}
[data-font~=right] {text-align: right;}
[data-font~=justify] {text-align: justify;}

// vertical-align
[data-font~=top] {vertical-align: top;}
[data-font~=middle] {vertical-align: middle;}
[data-font~=bottom] {vertical-align: bottom;}